// Fonte
$fontprimaria:Roboto, sans-serif;
$fontsegunda:Open Sans, sans-serif;

// esquema de Cores
$corPrimaria:#79898D;
$corSegundo:#D5D8DA;
$corterceiro:#1B2425;
$corinput:#DE7149;
$cortexto: #FFFFFF;

